.dmzx-panel {
    border-radius: 5px;
    overflow: hidden;
}

.dmzx-center {
	text-align: center;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
	padding: 8px;
    margin: 10px 0;
    text-align: center;
    clear: both;
}

.dmzx-left {
	text-align: left;
}

table {
	background-color: #ffffff;
	border: 1px solid #cccfd3;
	width: 100%;
	margin-bottom: 4px;
	padding: 1px;
	border-spacing: 1px;
	border-collapse: separate;
}

.th1 {
	width: 4%;
}

th {
	background-color: #12a3eb;
	background-image: linear-gradient(to bottom, #6aceff 0%, #0076b1 2px, #12a3eb 100%);
	color: #ffffff;
}

table tr:hover {
	background-color: #fcf8e3;
	color: #8a6d3b;
}

table th, table td {
	padding: 4px 10px;
}